*{
    font-family: "Inter", sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #111;
    padding: 48px;
}

.refresh-btn{
    padding: 12px;
    background: black;
    color: white;
    border:none;
    outline: none;
    border-radius: 4px;
    transition: all 200ms ease;
    cursor: pointer;
    margin-bottom: 24px;
}

.refresh-btn:hover{
    background: #222
}

.items-wrapper{
    display: grid;
    gap: 16px;
    /* grid-template-columns: repeat(auto-fit, 400px); */
    grid-template-columns: 1fr;
}

.item {

    display: flex;
    align-items: center;
    gap: 12px;

    background-color: transparent;   
    border: none;   
    outline: none;

    border: 1px solid #777;
    padding: 12px;
    border-radius: 4px;
    color: #777;
    cursor: pointer;
    transition: all 200ms ease;
}

.item i {
    font-size: 18px;
}

.item-detail{
    text-align: left;
    overflow: hidden;
}

.item-detail p{
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 2px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-detail small{
    font-size: 12px;
    color: #555;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item:hover{
    background-color: #222;
}

.breadcrumbs{
    margin-bottom: 20px;    
}

.breadcrumbs i {
    font-size: 16px;
}

.breadcrumbs button{
    border: none;
    background: none;
    color: #999;
    font-size: 14px;
    padding: 4px;
    transition: all 100ms ease-in-out;
    cursor: pointer;
}

.breadcrumbs span {
    color: #777;
}

.breadcrumbs button:hover{
    opacity: 0.5
}

.breadcrumb-item:last-of-type {
    pointer-events: none;
}
